body {
  height: 100%;
  width: 100%;
  background: white;
  font-size: 12px;
  font-family: 'New York', sans-serif;

}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font: 46px Nunito, sans-serif;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-family: Chicago;
}

h3 {
  font: 28px Nunito, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}
h4 {
  font:700 12px 'New York';
}


input {
  box-sizing: border-box;
  width: 90%;
  margin: 4px auto;
  padding: 5px;
  display: block;
  color: black;
}




/*---------------------------------------------------------------------------------------
- sidebars
---------------------------------------------------------------------------------------*/
#wrapper {
  padding-left: 250px;
  padding-right: 300px;
  transition: all 0.4s ease 0s;
}

#wrapper.hide-chat {
  padding-right: 0;
}
#wrapper.hide-chat #right-sidebar-wrapper {
  right: 0;
}

#wrapper.hide-lobbies {
  padding-left: 0;
}
#wrapper.hide-lobbies #left-sidebar-wrapper {
  left: -500px;
}

#left-sidebar-wrapper {
  margin-left: 250px;
  left: -250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background: #EFEFEF;
  text-align: left;
}

#right-sidebar-wrapper {
  margin-right: -300px;
  right: 300px;
  width: 300px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background: #EFEFEF;
  text-align: left;
}

@media (max-width:850px) {

    #wrapper {
      padding-right: 0;
    }

    #right-sidebar-wrapper {
      right: 0;
    }

    #wrapper.active {
      position: relative;
      right: -300px;
    }

    #wrapper.active #right-sidebar-wrapper {
      right: -300px;
      width: 300px;
      transition: all 0.4s ease 0s;
    }

}

@media (max-width: 580px) {
  #wrapper {
    padding-left: 0;
  }

  #left-sidebar-wrapper {
    left: -500px;
  }

  #wrapper.active {
    position: relative;
    left: -300px;
  }

  #wrapper.active #left-sidebar-wrapper {
    left: -500px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
}

/*---------------------------------------------------------------------------------------
- LEFT SIDEBAR
---------------------------------------------------------------------------------------*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  lobbies
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.lobbies {
  position: relative;
  height: 100%;
  padding: 10px 0;
}

.lobbies-list-container {
  overflow: auto;
  position: absolute;
  top: 85px;
  bottom: 0;
  width: 100%;
}

.lobby-search {
  border-bottom: 1px solid #666666;
}

.lobby {
  position: relative;
  margin: 0;
  padding: 0;
  color: #1D2726;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  box-sizing: border-box;
}

.lobby:hover {
  background: #81CFE0;
}

.lobbies .lobby-info {
  display: inline-block;
  padding: 3px 0;
  margin: 0 2px 0 2px;
  width: 30%;
  text-align: left;
}

.lobbies .lobby-section {
  display: inline;
  padding: 0;
}

.lobby .link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

.lobby-nav-buttons {
  text-align: center;  
}

.lobby-nav-button {
  background: white;
  border: 0;
}

.lobbies input {
  margin-bottom: 8px;
}

.current-lobby {
  /*background: #EF351F;*/
  border: 2px solid #EF351F;
}


/*---------------------------------------------------------------------------------------
- RIGHT SIDEBAR
---------------------------------------------------------------------------------------*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  messages
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.messages {
  position: relative;
  height: 100%;
}

.messages .message-color-picker-container {
  display: inline;
}

.messages .message-color-picker {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  
}

.message-player-hello {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.chat-welcome {
  display: inline-block;
}

.message-header-container {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
}

.message-header p {
  margin: 0;
  font-size: 20px;
}

.message-list-container {
  position: absolute;
  box-sizing: border-box;
  bottom: 45px;
  top: 33px;
  overflow: auto;
  width: 100%;
  color: black;
  background: #F8F8F8;
  padding: 10px;
  border-bottom: 1px solid #666666;
  font-size: 14px;
}

.message-list {
}

.message-form-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 5px 5px 0;
  text-align: center;
}

.messages .message-input {
  box-sizing: border-box;
  margin: 4px auto;
  display: inline-block;
  color: black;
  width: 80%;

}

.messages button {
  display: inline;
  border: 0;
}

.message-name {
  font-weight: bold;
}

.message {
  padding-bottom: 5px;
}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
- main content
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.main {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: white;
  height: 100%;

}

.collapse-buttons-wrapper {
  padding: 10px 0;
}
.collapse-lobbies-wrapper {
  display: inline-block;
  float: left;
}
.collapse-chat-wrapper {
  display: inline-block;
  float: right;
}

.logo {
  padding: 10px 0;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  game info
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.game-status {
  padding: 15px;
}

.game-status .player-status-container {
  padding: 0;
  text-align: center;
  margin-bottom: 5px;
}

.game-status h4 {
  margin-bottom: 3px;
}

.info-x {
  font: bold 30px/30px 'Architects Daughter', serif;
  color: #FF5D3D;
  padding: 0;
}

.info-o {
  font: bold 30px/30px 'Architects Daughter', serif;
  color: #4A67FF;
  padding: 0;
}

.info-x-name {
  font: bold 24px/24px 'Architects Daughter', serif;
  color: #FF5D3D;
  padding: 0;
}

.info-o-name {
  font: bold 24px/24px 'Architects Daughter', serif;
  color: #4A67FF;
  padding: 0;
}

.info-messages-container {
  width: 100%;
  text-align: left;
}

.info-messages-container p {
  font-size: 16px;
  margin: 1px 0;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  win message
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.win-message {
  color: black;
  font-size: 20px;
  text-align: center;
}
.win-message p {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  controls / setup
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.controls {
  padding: 10px 0;
}

.controls .team-buttons-container {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.controls .team-buttons-container button {
  display: inline-block;
  width: 44%;
  margin: 0 auto;
}

.leave-team {
}

.controls .lobby-buttons-container {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.controls .lobby-buttons-container button {
  display: inline-block;
  width: 44%;
  margin: 0 auto;
}

/*.controls button:hover:not(.disabled) {
  background: #E26A6A;
}

.controls .teamButton:hover:not(.disabled) {
  background: #F39C12;
}*/

.controls .disabled {
  background: #AAAAAA;
}

.controls .picked-team {
  background: #F1A9A0;
}


/*---------------------------------------------------------------------------------------
- GAME BOARD
---------------------------------------------------------------------------------------*/

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  game board
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.board-container {
  width: 100%;
}

.board {

  display: inline-block;
  margin: 20px auto;

  background: grey;
  padding-bottom: 0;

}

.board-row {
  clear: both;
  display: block;
}
.row>.square:first-of-type {
  margin-left: 0;
}

.board-square {
  height: 50px;
  width: 50px;
  background: white;
  margin: 3px 3px 0 0;
  float: left;

  font: bold 40px/40px 'Architects Daughter', serif;
  text-align: center;

  box-sizing: border-box;
}

.board-row>.board-square:last-of-type {
  margin-right: 0;
}

.board-row:first-of-type>.board-square {
  margin-top: 0;
}

.board-square.filled.xMark {
  color: #FF5D3D;
}

.board-square.filled.oMark {
  color: #4A67FF;
}

.board-square.playerOne:hover:not(.disabled) {
  border: 2px solid #FF5D3D;
}
.board-square.playerOne.filled:hover {
  border: none;
}

.board-square.playerTwo:hover:not(.disabled) {
  border: 2px solid #4A67FF;
}
.board-square.playerTwo.filled:hover {
  border: none;
}

.winner {
  background: #FFF176;
}
.clear {
  clear: both;
}