body {
  height: 100%;
  width: 100%;
  background: #0D47A1;
  font-size: 12px;
  font-family: 'New York';

}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-family: Chicago;
}

input {
  box-sizing: border-box;
  width: 90%;
  margin: 4px auto;
  padding: 5px;
  border: 0;  
  display: block;
  color: black;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
- main
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: white;

}


/*---------------------------------------------------------------------------------------
- NAV BAR
---------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------
- LEFT SIDEBAR
---------------------------------------------------------------------------------------*/

/*.left-sidebar {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100vh;
  float: left;
  background: #3A4D5F;
  color: black;
  text-align: left;
  border-right: 1px solid #AAAAAA;
}*/

.left-sidebar h3 {
  color: #C1C1C1;
}

.left-sidebar h2 {
  color: #C1C1C1;
}

.logo {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  controls
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.controls {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
}
.controls input {
  box-sizing: border-box;
  width: 90%;
  margin: 4px auto;
  padding: 5px;
  border: 0;
  display: block;

}

.controls .team-buttons-container {
  display: block;
  width: 100%;
  text-align: center;
}

.controls .team-buttons-container button {
  display: inline-block;
  width: 44%;
  margin: 0 auto;
}

.controls .lobby-buttons-container {
  display: block;
  width: 100%;
  text-align: center;
}

.controls .lobby-buttons-container button {
  display: inline-block;
  width: 44%;
  margin: 0 auto;
}

.controls button {
  box-sizing: border-box;
  margin: 4px auto;
  padding: 5px;
  text-align: left;
  display: block;
  width: 90%;
  border: 0;
  background: white;

}
.controls button:hover:not(.disabled) {
  background: #E26A6A;
}

.controls .teamButton:hover:not(.disabled) {
  background: #F39C12;
}

.controls .disabled {
  background: #AAAAAA;
}

.controls .picked-team {
  background: #F1A9A0;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  lobbies
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.lobbies {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
}

.lobbies .lobbies-list-container {
  height: 300px;
  overflow: auto;
}

.lobby {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
}
.lobby:hover {
  background: #81CFE0;
}

.lobbies .lobby-info {
  display: inline-block;
  padding: 3px 0;
  margin: 0 2px 0 2px;
  width: 30%;
  text-align: left;
}

.lobbies .lobby-section {
  display: inline;
  border-right: 1px solid #AAAAAA;
  padding: 0;a
}
.lobbies>.lobby-section:last-of-type {
  color: brown;
  border: 0;
}

.lobby .link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

.lobby-nav-buttons {
  text-align: center;  
}

.lobby-nav-button {
  background: white;
  border: 0;
}

.lobbies input {
  margin-bottom: 8px;
}

.current-lobby {
  background: #EF351F;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  game status
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.game-status {
  padding: 10px 0;
}
.game-status .player-status-container {
  text-align: center;
}

.game-status .player-status {
  display: inline-block;
  width: 40%;
  color: white;
  background: #263333;
  padding: 5px;
  margin: 0 5px 0 5px;
}

.game-status span {
  display: inline-block;
  width: 40%;
  padding: 5px;
  margin: 0 5px 0 5px;
}


/*---------------------------------------------------------------------------------------
- RIGHT SIDEBAR
---------------------------------------------------------------------------------------*/
/*.right-sidebar {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 330px;
  border-left: 1px solid #AAAAAA;
  background: #EFEFEF;
  text-align: left;

}*/

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  messages
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.messages {
  position: relative;
  height: 100%;
}

.messages .message-color-picker-container {
  display: inline-block;
}

.messages .message-color-picker {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #666666;
}

.message-player-hello {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.chat-welcome {
  display: inline-block;
}

.message-header-container {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #666666;
}

.message-header p {
  margin: 0;
  font-size: 20px;
}

.message-list-container {
  position: absolute;
  box-sizing: border-box;
  bottom: 42px;
  top: 33px;
  overflow: auto;
  width: 100%;
  color: black;
  background: #F8F8F8;
  padding: 10px;
  border-bottom: 1px solid #666666;
  font-size: 14px;
}

.message-list {
}

.message-form-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 5px 5px 0;
  text-align: center;
}

.messages .message-input {
  box-sizing: border-box;
  margin: 4px auto;
  border: 0;  
  display: inline-block;
  color: black;
  width: 80%;

}

.messages button {
  display: inline;
  border: 0;
}

.message-name {
  font-weight: bold;
}

.message {
  padding-bottom: 5px;
}


/*---------------------------------------------------------------------------------------
- bootstrap
---------------------------------------------------------------------------------------*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

.left-sidebar-wrapper {
  left: 0px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background: #3A4D5F;
  color: black;
  text-align: left;
  border-right: 1px solid #AAAAAA;
}

.right-sidebar-wrapper {
  right: 0px;
  width: 300px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-left: 1px solid #AAAAAA;
  background: #EFEFEF;
  text-align: left;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:815px) {

    #wrapper {
      padding-left: 0;
    }

    .left-sidebar-wrapper {
      left: -250px;
    }

    .right-sidebar-wrapper {
      display: none;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}


/*---------------------------------------------------------------------------------------
- GAME AREA
---------------------------------------------------------------------------------------*/

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  Vs text
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.vs-text {
  display: inline-block;
  color: white;
  width: 400px;
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 10px;
}
.vs-text p {
  display: inline-block;
  padding: 0;
  margin: 0;

}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  win message
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.win-message {
  color: black;
  font-size: 20px;
  text-align: center;
}
.win-message p {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  
}


/*---------------------------------------------------------------------------------------
- GAME BOARD
---------------------------------------------------------------------------------------*/

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -
-  game board
- - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/*.board-container {
  display: inline-block;
  height: 300px;
  width: 400px;
  margin: 15px 0 15px 0;

}*/
.board-container {
  width: 100%;
}

.board {

  display: inline-block;
  margin: 20px auto;

  background: grey;
  padding-bottom: 0;

}

.board-row {
  clear: both;
  display: block;
}
.row>.square:first-of-type {
  margin-left: 0;
}

.board-square {
  height: 50px;
  width: 50px;
  background: white;
  margin: 3px 3px 0 0;
  float: left;

  font: bold 40px/40px 'Architects Daughter', cursive;
  text-align: center;

  box-sizing: border-box;
}

.board-row>.board-square:last-of-type {
  margin-right: 0;
}

.board-row:first-of-type>.board-square {
  margin-top: 0;
}

.board-square.filled.xMark {
  color: #FF5D3D;
}

.board-square.filled.oMark {
  color: #4A67FF;
}

.board-square.playerOne:hover:not(.disabled) {
  border: 2px solid #FF5D3D;
}
.board-square.playerOne.filled:hover {
  border: none;
}

.board-square.playerTwo:hover:not(.disabled) {
  border: 2px solid #4A67FF;
}
.board-square.playerTwo.filled:hover {
  border: none;
}

.winner {
  background: #FFF176;
}
.clear {
  clear: both;
}