body {
  text-align: center;
}



.game {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.board {
  margin: 0 auto 10px auto;
  padding-bottom: 0;
  display: inline-block;
  background: grey;
}

.row {
  clear: both;
  display: block;
}
.row>.square:first-of-type {
  margin-left: 0;
}

.square {
  height: 40px;
  width: 40px;
  background: white;
  margin: 3px 3px 0 0;
  float: left;

  font: bold 40px/40px 'Architects Daughter', cursive;
  text-align: center;

  box-sizing: border-box;
}

.row>.square:last-of-type {
  margin-right: 0;
}

.row:first-of-type>.square {
  margin-top: 0;
}

.square.filled.xMark {

  color: #FF5D3D;
}

.square.filled.oMark {

  color: #4A67FF;
}

.resetButton {
  display: block;
  margin: 0 auto;
}

#size-slider {
  margin: 0 0 10px 0;
}

@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.square {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.square:hover:not(.disabled), .square:focus:not(.disabled), .square:active:not(.disabled) {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.square.playerOne:hover:not(.disabled) {
  border: 2px solid #FF5D3D;
}
.square.playerOne.filled:hover {
  border: none;
}

.square.playerTwo:hover:not(.disabled) {
  border: 2px solid #4A67FF;
}
.square.playerTwo.filled:hover {
  border: none;
}

@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.square.filled {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.square.filled:hover:not(.disabled), .square.filled:focus:not(.disabled), .square.filled:active:not(.disabled) {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.30s;
  animation-duration: 0.30s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.winner {
  background: red;
}