<!DOCTYPE html>
<html>
<head>
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

  <!-- firebase and angular -->
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<!--   <script src="js/angular.js"></script>
  <script src="js/firebase.js"></script> -->

  <!--angular fire (must be last) -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
  
  <!-- my stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/animations.css">

<!--   <script src="js/app.js"></script>-->
  <script src="js/GameController.js"></script>

  <title>tic tac whaaat</title>
</head>
<body ng-app="ticTacToeApp">

  <div class="main" ng-controller="GameController as vm">



  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - NAV BAR - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - LEFT SIDEBAR - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="left-sidebar">


    <!-- - - - - - - - - - - - Logo / title - - - - - - - - - - - -->
    <div class="logo">
      <h2>tic tac<br/>whaaaat</h2>
    </div>


    <!-- - - - - - - - - - - - Controls / Setup - - - - - - - - - - - -->
    <div class="controls">
      <h3>Setup</h3>
      <input type="text" ng-model="vm.playerName" placeholder="Name...">
      <div class="team-buttons-container">
        <button class="teamButton"
                ng-class="{ disabled: (vm.currentGame == null) || 
                                      (vm.playerName.length < 1) ||
                                      vm.currentGame.gameInProgress ||
                                      (vm.currentGame.player1.length > 0),
                            'picked-team': vm.playerTeam === 'x' }"
                ng-click="vm.joinTeam('x')">
                Join as X
        </button>
        <button class="teamButton" 
                ng-class="{ disabled: vm.currentGame.gameInProgress || 
                                     (vm.playerName.length < 1) ||
                                     (vm.currentGame == null) ||
                                     (vm.currentGame.player2.length > 0),
                            'picked-team': vm.playerTeam === 'o' }"
                ng-click="vm.joinTeam('o')">
                Join as O
        </button>
      </div>
      <button ng-show="vm.playerTeam !== ''" class="leave-team" ng-click="vm.leaveTeam()">Leave team</button>
      <div class="lobby-buttons-container">
        <button class="resetButton" ng-click="vm.addGame()">New Lobby</button>
        <button class="startGame" ng-click="vm.startGame()">Start game</button>
      </div>
    </div>


    <!-- - - - - - - - - - - - Lobbies - - - - - - - - - - - -->
    <div class="lobbies">
      <h3>Lobbies</h3>
      <div class="lobby-search">
        <input type="text" ng-model="vm.lobbySearch" placeholder="Search lobbies...">
      </div>
      <div class="lobbies-list-container">
        <ul>
          <li ng-repeat="game in vm.games | orderBy:'time':true | filter:vm.lobbySearch | limitTo: 100">
            <div class="lobby" ng-class="{'current-lobby': game.$id == vm.currentGame.$id}">

              <a href="#" ng-click="vm.setCurrentGame(game.$id)"><span class="link"></span></a>

              <div class="lobby-section">
                <span class="lobby-info">
                  {{ (game.player1.length > 0) ? game.player1 : '?' }} vs. {{ (game.player2.length > 0) ? game.player2 : '?' }}
                </span>
              </div>
              <div class="lobby-section">
                <span class="lobby-info" ng-show="!game.postGame && !game.gameInProgress">Not started</span>
                <span class="lobby-info" ng-show="game.gameInProgress">In progress</span>
                <span class="lobby-info" ng-show="game.postGame">{{ game.winner }}</span>
              </div>
              <div class="lobby-section">
                <span class="lobby-info" class="game-time">{{ game.time | date:'short' }}</span>
              </div>
            </div>
<!--               <table>
               <tr>
                <td>
                  {{ (game.player1.length > 0) ? game.player1 : '?' }} vs. {{ (game.player2.length > 0) ? game.player2 : '?' }}
                </td>
                <td>
                  <span class="lobby-info" ng-show="!game.postGame && !game.gameInProgress">Not started</span>
                  <span class="lobby-info" ng-show="game.gameInProgress">In progress</span>
                  <span class="lobby-info" ng-show="game.postGame">{{ game.winner }}</span>
                </td>
                <td>
                  <span class="lobby-info" class="game-time">{{ game.time | date:'short' }}</span>
                </td>
               <tr> 
              </table> -->
          </li>
        </ul>
      </div>
<!--       <div class="lobby-nav-buttons">
        <button class="lobby-nav-button arrow-back"><-</button>
        <button class="lobby-nav-button arrow-forward">-></button>
      </div> -->
    </div>


    <!-- - - - - - - - - - - - Game info - - - - - - - - - - - -->
    <div class="game-status">
      <h3>Game Info</h3>
      <div class="player-status-container">
        <span>X</span>
        <span>O</span>
        <br/>
        <div class="player-status">
          <span ng-bind="vm.currentGame.player1"></span>
        </div>
        <div class="player-status">
          <span ng-bind="vm.currentGame.player2"></span>
        </div>
      </div>
    </div>
  </div>




  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - RIGHT SIDEBAR - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div class="right-sidebar">

      <!-- - - - - - - - - - - - Messages - - - - - - - - - - - -->
      <div class="messages">

        <div class="message-header-container">
          <p class="message-player-hello" ng-show="vm.playerName !== ''">Hello, {{vm.playerName}}!</p>
        </div>

        <div class="message-list-container">

          <p class="chat-welcome" ng-show="(vm.currentGame.messages.length === 0)">Welcome to the chat...</p>
          <ul class="message-list" ng-show="(vm.currentGame.messages.length > 0)" >
            <li class="message" ng-repeat="message in vm.currentGame.messages">
              <span ng-show="message.content.length > 0"><span class="message-name">{{ message.name }}</span>: {{ message.content }}</span>
            </li>
          </ul>
        </div>

        <div class="message-form-container">
          <form>
            <input type="text" ng-model="vm.newMessage" placeholder="Send a message">
            <button type="submit" ng-class="{ disabled: ((vm.playerName.length < 1) ||
                                                         (vm.newMessage.length < 1)) }"
                                  ng-click="vm.sendMessage()">
              Chat
            </button>
          </form>
        </div>
      </div>

    </div>




  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - GAME AREA - - - - - - - - - - - -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="game-area-container">
    <!-- - - - - - - - - - - - Vs Text - - - - - - - - - - - -->
    <div class="vs-text">
      <p ng-show="vm.currentGame.readyToStart">{{ vm.currentGame.player1 }} vs {{ vm.currentGame.player2 }}</p>
    </div>

    <!-- - - - - - - - - - - - Game board - - - - - - - - - - - -->
    <div class="board-container">
      <div class="board">
        <div class="row" ng-repeat="row in vm.currentGame.rows">
          <div  class="square crossed" 
                ng-repeat="square in row" 
                ng-click="vm.currentGame.postGame || vm.clickSquare(square)" 
                ng-class="{playerOne: vm.currentGame.turn, playerTwo: !vm.currentGame.turn, filled: square.filled, xMark: square.val === 'x', oMark: square.val === 'o', disabled: vm.currentGame.postGame, winner: square.winner }">
              {{ square.val }}
          </div>
        </div>
      </div>
    </div>

    <!-- - - - - - - - - - - - Win Message - - - - - - - - - - - -->
    <div class="win-message" ng-show="vm.currentGame.postGame">
      <p>{{ vm.currentGame.winner }}</p>
    </div>

    <div class="clear"></div>

  </div>





</body>
</html>