<!DOCTYPE html>
<html ng-app="ticTacToeApp">
<head>

  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">

  <script src="js/app.js"></script>

  <title>tic tac toe</title>
</head>
<body>
  <header>
    <h1>tic tac toe</h1>
  </header>

  <div class="game" ng-controller="GameController">

<!--     <input type="range" min="3" max="10" ng-model="boardSize" id="size-slider">
    <span ng-bind="boardSize"></span>
    <br> -->

    <!-- Game board -->
      <div class="board">
        <div class="row" ng-repeat="row in board" ng-click="">
          <div class="square crossed" ng-repeat="col in row.cols" ng-click="postGame || clickSquare(col)" ng-class="{playerOne: turn, playerTwo: !turn, filled: col.filled, xMark: col.val === 'x', oMark: col.val === 'o', disabled: postGame, winner: col.winner }">{{ col.val }}
          </div>
        </div>
      </div>

      <button class="resetButton" ng-click="resetGame()">reset</button>
      <p ng-bind="winMessage"></p>

    </div>

  <!-- What the game board will look like if it's 3x3:
  <div class="board">
    <div class="row">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="row">  
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="row">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
  </div> 
  -->

</body>
</html>